{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="description" content="Bharat chitara's portfolio" />
        <meta name="author" content="" />
        <title>Bharat Chitara- About Page </title>
      
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/timeline.css' %}" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet"> 

    </head>

    <body>
        
        <section class = "main-body">
            <nav style= "display: flex;">
            {% include 'header.html' %}
            </nav>
        </section> 
            
            <div class="about-text-box">
                <h3>I’m Bharat Chitara (Your friendly neighbourhood Developer) and I<br> have started my career back in 2019. The journey till today is full of<br>surprises and great learnings.<br>
                    <br>I have worked with some great minds and companies including a <b>rising startup</b> in software testing and a <b>Great MNC</b>.
                    Currently I am working in an leading organisation of IT industry called Spanidea systems to create great softwares.
                </h3>

                <br><h3>And these are the Superpowers I have recently used:</h3>
               
            </div>

            <div class = "techs1">
                <ul>
                    <li>Python (Django)</li>
                    <li>NodeJS</li>
                    <li>HTML, CSS</li>
                    <li>Java</li>
                    <li>SAP-ABAP</li>
                </ul>

            </div>

            <div class = "techs2">
                <ul>
                    <li>Javascript</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                    <li>Github</li>
                    <li>Azure</li>
                </ul>
            </div>

                {% comment %} <div class = "section-spliter">
                    <h4 class = "spliterh2"><span>The Journey</span></h4>
                </div>  {% endcomment %}

            <div class="timeline-body">
                {% include 'timeline.html' %}
            </div> 
            
            
            {% include 'footer.html' %}
        

    </body> 
</html>



