{% load static %}
<head>

    
    
</head>

<div class = "pf-header">
    <div class = "pf-header-logo">
        <a href = "/"><img src = "{% static 'images/logo_v1.svg' %}" ></a>
    </div>

    <div class = "pf-header-links">
     
            <ul>
                <li><a class = "effect-1" href = "/">HOME</a></li>
                <li><a class = "effect-1" href = "about">ABOUT</a></li>
                <li><a class = "effect-1" href = "">WORK</a></li>
                <li><a class = "effect-1" href = "">CONTACT</a></li>
            </ul>
       
    </div>


    <div id="pf-header-sidenav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="#">HOME</a>
          <a href="#">ABOUT</a>

          <a href="#">WORK</a>
          <a href="#">CONTACT</a>
        </div>
    </div>
      
    <span class = "pf-header-sidenav-button" onclick="openNav()">&#9776; 

    </span>




</div>





