{% load static %}

<div class = "pf-header">
    <div class = "pf-header-logo">
        <a href = "/"><img src = "{% static 'images/logo_v1.svg' %}" ></a>
    </div>

    <div class = "pf-header-links">
     
            <ul>
                <li><a class = "effect-1" href = "/">HOME</a></li>
                <li><a class = "effect-1" href = "about">ABOUT</a></li>
                <li><a class = "effect-1" href = "">WORK</a></li>
                <li><a class = "effect-1" href = "">CONTACT</a></li>
            </ul>
       
    </div>




</div>





