{% load static %}

<head> 
    <link href="{% static 'css/home_scroller.css' %}" rel="stylesheet" type="text/css" />
</head>


<body>
    {% comment %} <div class="card"> {% endcomment %}
      <h1>Coding is
        <!-- Scroller Start -->
        
        <div class="scroller">
          <span>
            Cool<br/>
            Art<br/>
            Intruiging<br/>
            Challenging
          </span>
        {% comment %} </div> {% endcomment %}
        
        <!-- Scroller End -->
      </h1>
      
    </div>
  </body>