body{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    min-height: 100vh ;
    background: #011627;
    /* background: radial-gradient(circle, rgba(1,22,39,1) 24%, rgba(1,11,39,1) 61%, rgba(1,22,39,1) 94%); */


}

@media screen and (max-width: 1175px) {
 body{
    background: #011627;

 }       
}




.pf-header{
    position: absolute;
    width:100%;
    height: 106px;
    top:0px;
    left:0px;
   
}

.pf-header-logo{
    position: absolute;
    left: 72px;
    top: 20px;
    width: 70px;
}


.pf-header-links{
    /* border: 1px solid red; */
    position: absolute;
    width: 514px;
    height: 28px;
    left: 931px;
    top: 37px; 
    font-weight: 700;
    font-size: 24px;
}

.pf-header-links ul {
    display: contents;
    position: absolute;
    left: 931px;
    top: 30px; 

}


.pf-header-links ul li{
    
    /* border: 1px solid red; */
    list-style: none;
    display: inline-block;
    padding: 3px 17px;
    position: relative;
    top: 0px;
}


.pf-header-links ul li a{
    color: #fff;
    text-decoration: none;
    

}


a, a >
span {
	 position: relative;
	 color: inherit;
	 text-decoration: none;
	 line-height: 24px;
}

a:before, a:after, a > span:before, a > span:after {
        content: "";
        position: absolute;
        transition: transform 0.5s ;
}

.effect-1 {
	 padding-top: 14px;
}

.effect-1:before {
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 2px;
	 background: #f1ce3d;
	 transform: scaleX(0);
}

.effect-1:hover:before {
	 transform: scaleX(1);
}


.pf-body-home-title{
    /* border: 1px solid red ; */
    position: absolute;
    width: 623px;
    height: 126px;
    left: 72px;
    top: 273px;
    color: #FFFFFF;
}


.pf-body-home-title h3{

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    position: fixed;
    width: 623px;
    height: auto;
    left: 72px;
    top: 241px;
}

.pf-body-home-title h1{
    /* border: 1px solid blue; */
    
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;

    position: fixed;
    width: 623px;
    height: auto;
    left: 72px;
    top: 267px;
}


.pf-body-home-subtitle{
    /* border:1px solid red; */
    position: absolute;
    width: 634px;
    height: 129px;
    left: 72px;
    top: 439px;
}

.pf-body-home-subtitle h2{
    
    position: fixed;
    width: 634px;
    height: 129px;
    left: 72px;
    top: 400px;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;

    color: #FFFFFF;

}




.pf-footer{
    /* border: 1px solid red; */
    position: fixed;
    width: 100%;
    height: 35px;
    left: 0;
    top: 650px;

}


.avatar-ph {
    border-radius: 50%;
    
}


.pf-footer h4{
    width: auto;
    display: inline;
    border: 1px solid cyan;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #767676;
}


/* passed till above */

.text-box{
    width: 45%;
    color: #fff;
    position: absolute;
    top: 53%;
    left: 42%;
    transform: translate(-80%,-50%) ;
    text-align: left;
}

.text-box h3{
    font-size: 28px;
    font-family: 'Helvetica 25 UltraLight', sans-serif;

}

.text-box h2{
    font-size: 34px;
    /* font-family: 'Helvetica 35 Thin', sans-serif; */
    /* font-family: 'Helvetica 45 Light', sans-serif; */
    font-family: 'Helvetica 55 Roman', sans-serif;
    /*font-family: 'Helvetica 65 Medium', sans-serif; */

}

.pf-body-avatar-img{

    position: absolute;
    left: 939px;
    top: 182px;
    
}


.text-box h1{
    
    margin: 10px 0 40px;
    font-size: 83px;
    font-weight: 600;
    color: #fff;
    

}

/* Style for about page */

.about-text-box{
    width: 50%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 44%;
    transform: translate(-80%,-50%) ;
    text-align: left;

}


.about-text-box h3{
    font-size: 22px;
    font-weight: 200;

}

.techs1{
    color: #fff;
    width: 25%;
    position: absolute;
    top: 72.27%;
    left: 24%;
    transform: translate(-80%,-50%) ;
    text-align: left;
}

.techs1 ul li{
    color: #fff;
    font-size: 22px;
    font-weight: 500
}


.techs2{
    color: #fff;
    width: 25%;
    position: absolute;
    top: 72.27%;
    left: 24%;
    transform: translate(20%,-50%) ;
    text-align: left;
}

.techs2 ul li{
    color: #fff;
    font-size: 22px;
    font-weight: 500
}

.timeline-body{
    height: fit-content;
    color: #fff;
    width: auto;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(35%,-50%) ;
    font-size: 11px;
    text-align: left;
}


.section-spliter{
   position: absolute;
   transform: rotate(270deg);
   
}

.spliterh2{
    width: 100%; 
    font-size: 20px;
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.spliterspan{ 
     padding:0 10px; 
 }


